@import "tailwindcss";

html{
  font-size: 62.5%;
}

.Header{
  display: flex;
  width: 100%;
  height:  8rem;
  border: 2px solid rgb(171, 167, 167);
  justify-content: space-between;
  display: flex;
  align-items: center;
 
}
.logo{
  width: 6rem;
  margin-left:1rem ;
  cursor: pointer;
  border-radius: .6rem;

}

.nav-items{
  padding:  0 20px;
}

.nav-items > ul{
  font-size: 2rem;
  display: flex;
  
}
.nav-items > ul > li{
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.ClothCard{
height: 10rem;
width:  10rem;

}